<h1 id="title" class="title">Change Password</h1>

<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="step-container">
  <div class="form-control-group">
    <label class="label" for="input-old-password">Old password</label>
    <nb-form-field>
      <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
      <input type="password" class="form-control" formControlName="oldPassword" autofocus fullWidth fieldSize="large" nbInput
        [ngClass]="{'form-control-danger': passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)}">
    </nb-form-field>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-new-password">New password</label>
      <a class="forgot-password caption-2" routerLink="../reset-password">Forgot Password?</a>
    </span>

    <nb-form-field>
      <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
      <input type="password" class="form-control" formControlName="newPassword" autofocus fullWidth fieldSize="large"
        nbInput [ngClass]="{'form-control-danger': passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)}">
    </nb-form-field>
  </div>


  <button nbButton fullWidth [disabled]="processing || !passwordForm.valid" [class.btn-pulse]="processing" status="primary"
    type="submit">Submit</button>
</form>
