app-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
// <!-- <app-header class="w-100 d-flex align-items-baseline justify-content-between"></app-header> -->
