<div class="socials" *ngIf="socials && socials.length > 0">
  <!-- <nb-button-group> -->
    <button *ngFor="let socialLink of socials" nbButton ghost (click)="socialLogin(socialLink.provider)">
      <!-- {{ socialLink.name }} -->
      <!-- <div *ngIf="socialLink.iconSVG; else title"> -->
        <nb-icon *ngIf="socialLink.iconSVG; else title" [innerHTML]="bypassSecurityTrustHtml(socialLink.iconSVG)"></nb-icon>
        <!-- <p>{{ socialLink.name }}</p> -->
      <!-- </div> -->
      <!-- <div *ngIf="socialLink.iconSVG; else title" [innerHTML]="bypassSecurityTrustHtml(socialLink.iconSVG)"></div> -->
      <ng-template #title>{{ socialLink.name }}</ng-template>
    </button>
  <!-- </nb-button-group> -->
</div>