<div class="socials" *ngIf="socials && socials.length > 0">
  <!-- <nb-button-group> -->
<!-- 
    <a *ngIf="socialLink.url"
    [attr.href]="socialLink.url"
    [attr.target]="socialLink.target"
    [attr.class]="socialLink.icon"
    [class.with-icon]="socialLink.icon">
   <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
   <ng-template #title>{{ socialLink.title }}</ng-template>
 </a> -->

    <a *ngFor="let socialLink of socials" [attr.href]="socialLink.authURL" nbButton outline ghost>
      <!-- {{ socialLink.name }} -->
      <!-- <div *ngIf="socialLink.iconSVG; else title"> -->
        <nb-icon *ngIf="socialLink.iconSVG; else title" [innerHTML]="bypassSecurityTrustHtml(socialLink.iconSVG)"></nb-icon>
        <!-- <p>{{ socialLink.name }}</p> -->
      <!-- </div> -->
      <!-- <div *ngIf="socialLink.iconSVG; else title" [innerHTML]="bypassSecurityTrustHtml(socialLink.iconSVG)"></div> -->
      <ng-template #title>{{ socialLink.name }}</ng-template>
    </a>
  <!-- </nb-button-group> -->
</div>
